In [5]:
#Determine Python Experience (1.7.1)
python_experience = 3
if python_experience < 2:
    print('Beginner')
elif python_experience == 2:
    print('intermidiate')
else: 
    print('experience')

experience

In [6]:
python_experience = 3
if python_experience < 2:
    skill_level = 'Beginner'
else:
    skill_level = 'Intermediate'
print(skill_level)

Intermediate

In [18]:
#Determine Job Skill Level (1.7.2)
tools_known = 3
if tools_known <2 :
    print('Beginner')
elif tools_known > 1 and tools_known < 5:
    print ('intermediate')
else:
    print('Advanced')

tools_known +=2
if tools_known <= 1:
    skill_level = 'Beginner'
elif tools_known <= 4:
    skill_level = 'Intermediate'
else:
    skill_level = 'Advanced'
print(skill_level)

intermediate
Advanced

ðŸŸ¥ Determine Job Title (1.7.3) - Problem
#Determine Job Title (1.7.3)
Conditional Statements
Problem Statement:
Determine the job_title based on years of job experience and years of SQL experience. The variable job_experience is set to 4 and sql_experience is set to 2. Use the following criteria:

Less than 2 years of job experience:

0 SQL experience â†’ "Associate Analyst"
1+ years of SQL experience â†’ "Junior Analyst"

2 to 5 years of job experience:

0 SQL experience â†’ "Associate Analyst"
1 year of SQL experience â†’ "Intermediate Analyst"
2+ years of SQL experience â†’ "Senior Analyst"
More than 5 years of job experience:

0â€“2 years of SQL experience â†’ "Data Analyst"
3+ years of SQL experience â†’ "Lead Analyst"

In [22]:
job_experience = 4 
sql_experience = 2
if job_experience < 2 and sql_experience ==0:
    print( "Associate Analyst")
elif  job_experience < 2 and sql_experience ==1:
    print("Junior Analyst")
elif job_experience <= 5 and sql_experience ==0:
    print("Associate Analyst")
elif job_experience <= 5 and sql_experience ==1:
    print("Intermediate Analyst")
elif job_experience <= 5 and sql_experience ==2:
    print("Senior Analyst")
elif job_experience > 5 and sql_experience <=2:
    print("Data  Analyst")
else:
    print('Lead Analyst')

Senior Analyst

In [23]:
#another Way
job_experience = 6
sql_experience = 3

if job_experience < 2:
    if sql_experience == 0:
        job_title = "Associate Analyst"
    else:
        job_title = "Junior Analyst"
elif job_experience > 5:
    if sql_experience >= 3:
        job_title = "Lead Analyst"
    else:
        job_title = "Data Analyst"
else:  # 2 to 5 years of experience
    if sql_experience == 0:
        job_title = "Associate Analyst"
    elif sql_experience == 1:
        job_title = "Intermediate Analyst"
    else:
        job_title = "Senior Analyst"

print(job_title)

Lead Analyst