In [10]:
#ðŸŸ© Job Title Contains (1.16.1)
job_title = 'Data Scientist'
keyword = 'Data'

def job_key (job_title, keyword):
    return keyword in job_title

job_key('mk', 'mk')

True

In [14]:
#ðŸŸ© Average Salary (1.16.2)
salaries = [95000, 120000, 105000, 90000, 130000]
salaries1 = [1, 2, 3, 4, 5]

def avg_salary(salaries):
    return sum(salaries)/len(salaries)

print(avg_salary(salaries))
avg_salary(salaries1)

108000.0

3.0

In [17]:
#Salary Statistics (1.16.3)
salaries = [95000, 120000, 105000, 90000, 130000]
d={}

def dict_salary(salaries):
    d= {'minimum' : min(salaries), 'maximum':max(salaries), 'average' : sum(salaries)/len(salaries)}
    return d

dict_salary(salaries)

{'minimum': 90000, 'maximum': 130000, 'average': 108000.0}

In [31]:
#ðŸŸ¥ Job Posting Summary (1.16.4)
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]

def job_posting_summary(job_postings):
    total_postings = len(job_postings)
    total_salary = sum(posting['salary'] for posting in job_postings)
    avg_salary = total_salary / total_postings
    unique_location = list(set(posting['location'] for posting in job_postings))
    return {
        'total_postings' : total_postings,  'avg_salary' : avg_salary,  'unique_location' : unique_location
    }
job_posting_summary(job_postings)

{'total_postings': 3,
 'avg_salary': 98333.33333333333,
 'unique_location': ['New York', 'San Francisco']}