In [1]:
#ðŸŸ© Print Job Titles (1.13.1)
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']


for job_title in job_titles:
    print(job_title)

Data Scientist
Data Analyst
Machine Learning Engineer

In [11]:
#ðŸŸ¨ Total Job Postings (1.13.2)
job_postings = [5, 10, 15, 20, 25]
total_posting = 0
index=0

while index < len(job_postings):
    total_posting += job_postings[index]
    index +=1
print(total_posting)

total = 0

for value in job_postings:
    total = total + value
    #print(total)

#print(total)

75

In [13]:
#ðŸŸ¨ Print Job Titles with Index (1.13.3)
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for index, title in enumerate(job_titles):
    print(f'{index}: {title}')

0: Data Scientist
1: Data Analyst
2: Machine Learning Engineer

In [8]:
#ðŸŸ¨ Find First Engineer (1.13.4)
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer',  'Data Engineer']

index=0
count =0

while index < len(job_titles):
    if 'Engineer' in  job_titles[index]:
        print(job_titles[index])
        count += 1
        if count == 2:   # stop after 2nd occurrence
            break
    index+=1

Machine Learning Engineer
Software Engineer

In [9]:
#ðŸŸ¥ Print Job Titles Containing 'Data' (1.13.5)
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}
for position, skills in positions_skills.items():
    for skill in skills:
        print(f'The role of {position}, requires proficiency in {skill}.')

The role of Data Scientist, requires proficiency in Python.
The role of Data Scientist, requires proficiency in R.
The role of Data Analyst, requires proficiency in SQL.
The role of Data Analyst, requires proficiency in Excel.
The role of Machine Learning Engineer, requires proficiency in Python.
The role of Machine Learning Engineer, requires proficiency in TensorFlow.