In [1]:
#Add Job Title to Set (1.10.1)
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.add('AI Specialist')
print(unique_job_titles)

{'Data Analyst', 'Data Scientist', 'Machine Learning Engineer', 'AI Specialist'}

In [2]:
#ðŸŸ© Remove Job Title from Set (1.10.2)
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.remove('Data Analyst')
print(unique_job_titles)

{'Data Scientist', 'Machine Learning Engineer'}

In [5]:
#Create Unique Job Locations Set (1.10.3)
job_locations = ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco']
job_locations = list(set(job_locations))
print(job_locations)

#another way
job_locations = ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco']
unique_job_locations = set(job_locations)
print(unique_job_locations)

['San Francisco', 'Austin', 'New York']
{'San Francisco', 'Austin', 'New York'}

In [8]:
#ðŸŸ¨ Union of Job Skills Sets (1.10.4)
skills_set1 = {'Python', 'SQL', 'Tableau'}
skills_set2 = {'R', 'SQL', 'Machine Learning'}
print(skills_set1.union(skills_set2))

{'R', 'Python', 'Tableau', 'Machine Learning', 'SQL'}